/* Right-aligned section inside the header */

h1,h2,h3,h4,h5,h6{
  font-family: 'Georgia', Times, 'Times New Roman', serif;
}

a:link {
  color:#777777;
  text-decoration: none;
}

/* visited link */
a:visited {
  color:#777777;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color:  #4aaaa5;
  text-decoration: none;
}

/* selected link */
a:active {
  color:#777777;
  text-decoration: none;
}

p{
  color:#777777;
}

#header-wrapper{
   border-bottom: 1px solid #777777;
}
header{
  margin: 0 auto;
  background-color: #ffffff;
  /* border-bottom-color: #cccccc; */
  /* border-bottom-width: 10px; */
  width:960px; 
  display:flex;
  justify-content: space-between;
  align-items: center;
}

header a{
  padding-right: 20px;
}

hr{
  color:#cccccc;
}

input[type=submit] {
  background-color: #4aaaa5;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

#topnav-right {
       /* float: right; */
      /* display: flex;
      justify-content: flex-end; */
      color:#777777;
      
  }

.container{
    margin: 0 auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }

  #name{
     display: flex;
    justify-content: center;
     /* padding: 20; */
     background: #4aaaa5;  
     /* border: 2px solid red; */
     width: 200px;
     /* display:flex;
     justify-content: start; */
     color: #ffffff;
  }

  #content{
    /* background: steelblue; */
    display: flex;
    justify-content: center;
    background-image: url(../images/criss-cross.png); 
      /* background-image: url(criss-cross.png);  background-repeat: repeat-x; */
    /* border: 2px solid pink; */
    /* background-color: royalblue; */
    padding-bottom: 100px;
    padding-top: 30px;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }

  .item{
    width: 200px;
    height: 150px;
    margin-bottom: 2%; /* (100-32*3)/2 */
    position: relative;
  }

    .grid img {
        margin: 5px;
        width: 200px;
        height: 150px;
      }
    #message{
      width: 100%;
      height: 100px;
    }

    #contact-name{
      width: 100%;
    }

    #email{
      width: 100%;
    }
  

  .grid{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    width: 500px;
    border-color: lime;
    }
  

  #about-me{
    width: 920px;
    padding: 10px 20px;
    /* border: 2px solid red; */
    color:#4aaaa5;
    background: #ffffff;
  }
  
  #bio-image{
    float: left;
    width: 200px;
    height: 200px;
    padding-right: 20px;
    border: #666666;
  }

  #footer{
    text-align:center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    padding-top: 10px;
    padding-bottom:5px ;
    color: #ffffff;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-top: -40px;
  }

  #contact-form{
    width: 920px;
    padding: 10px 20px;
    /* border: 2px solid red; */
    color:#4aaaa5;
    background: #ffffff;
    /* width: 100%; */
    /* color:#777777;
    padding: 10px;
    border: 1px solid #ccc; /* Gray border */
    display: flex;
    justify-content: flex-start; */
  }